:root {
    --color-aside: #FFFFFF;
    --color-main: #F0F4F8;
    --color-table: #d0d7de;
    --color-table-border: #b4bbc2;
    --color-input-border: #b4bbc2;
    --color-table-head: #f0f4f8;
    --color-text: #2C3E50;
    --color-text-accent: #2D6194;
    --color-main-text: #4A4A4A;
    --color-form-background: #bbd1e8;
    --color-btn: #a2b7ce;
    --color-btn-accent: #8b9fb4;
}