body {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.menu {
    background-color: var(--color-aside);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    position: relative;
    
}

.burger-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 11;
    perspective: 500px;
    width: 30px;
    height: 17px;
    transition: transform 0.3s ease;
}

.burger-body .first, .middle, .second {
    transition: transform 0.3s ease;
}

.burger-body span {
    display: none;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 20px;
}

.menu .Logotype {
    color: var(--color-text);
    font-size: 22px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.menu .Logotype:hover {
    font-size: 23px;
    cursor: pointer;
}

.menu .accent {
    color: var(--color-text-accent);
}

.navigation {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navigation a {
    color: var(--color-text);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s ease;
}

.navigation a:hover {
    color: silver;
    font-size: 19px;
    cursor: pointer;
}

.navigation a img {
    min-width: 50px;
    min-height: auto;
    transition: all 0.2s ease;
}

.navigation a img:hover {
    transform: scale(1.1);
}

.navigation .active {
    color: var(--color-text-accent);
}

.navigation a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

tbody tr:hover {
    background-color: #e8eef3;
}

@media (max-width: 1450px){
    .menu .Logotype {
        font-size: 20px;
    }

    .menu .Logotype:hover {
        font-size: 21px;
    }

    .navigation a {
        font-size: 16px;
    }
    
    .navigation a:hover {
        font-size: 17px;
    }

    .navigation a img {
        min-width: 40px;
    }
    
    .navigation a img:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 1080px) {
    body {
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    .menu .Logotype {
        font-size: 18px;
    }

    .navigation {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .menu .Logotype:hover {
        font-size: 19px;
    }

    .navigation a {
        font-size: 14px;
    }
    
    .navigation a:hover {
        font-size: 15px;
    }

    .navigation a img {
        min-width: 36px;
    }
    
    .navigation a img:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 995px) {
    body {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .navigation {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .menu .Logotype {
        font-size: 18px;
    }

    .menu .Logotype:hover {
        font-size: 15px;
    }

    .navigation a {
        font-size: 10px;
    }
    
    .navigation a:hover {
        font-size: 11px;
    }

    .navigation a img {
        width: 10px;
        height: auto;
    }
    
    .navigation a img:hover {
        transform: scale(1.1);
    }
}

@media (min-width: 765px) {
    .navigation {
        display: flex;
        padding-top: 80px;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 764px) {
    .logo-container {
        justify-content: space-between;
    }

    .menu {
        background-color: var(--color-aside);
        min-height: 40px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .burger-body {
        display: flex;
    }
    .burger-body span{
        display: block;
        width: 30px;
        height: 2px;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    
    body {
        grid-template-columns: 1fr;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .main {
        padding: 0;
    }

    .navigation {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: max-height 0.5s ease, opacity 0.3s ease, transform 0.3s ease;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--color-aside);
        padding: 0;
        gap: 20px;
        z-index: 10;
    }

    .navigation.open {
        max-height: 500px; /* достатньо велике значення */
        opacity: 1;
        transform: translateY(178px);
        padding: 20px 0;
    }

    .burger-body {
        display: flex;
    }

    .burger-body span {
        display: block;
        width: 30px;
        height: 2px;
    }

    .burger-body.active .middle {
        display: none;
    }

    .burger-body.active .first {
        transform: rotateZ(40deg);
        position: absolute;
    }

    .burger-body.active .second {
        transform: rotateZ(-40deg);
    }
}